body {
  background: linear-gradient(to bottom, #4b6cb7, #182848);

  font-family: "Inconsolata", sans-serif;
  font-size: 18px;
}

.login-option {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#sign-in {
  border-bottom: 0.8px solid violet;
}

#sign-up {
  color: dimgrey;
}
